/**
 * IE specific stylesheet definitions.
 */
#header-right {
  background: transparent;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f374e70,endColorstr=#7f374e70);
  zoom: 1;
}

